<div class="field field--checkbox">
	<button class="field__wrapper" type="button"
	onclick="
	fieldCheckbox.toggle(this)
	{{action}}('{{name}}', this.hasAttribute('active'));">
		<span class="field__icon"></span>
		<span class="field__label field__label--checkbox">{{label}}</span>
	</button>
	</div>	

	