<div class="page page--background">
    <header>
      {{> back-button}}  
    </header>
    <form action="" class="page__section">
      <h1 class="page__title">Підтвердження відновлення паролю</h1>
      <div class="form">
         <div class="form__item">
          {{> field action = "recoveryConfirmForm.change" name="code" label="Ваш код" placeholder="Введіть Ваш код" type="number" }}
          <span name = "code" class="form__error">Помилка</span>
        </div>      
        <div class="form__item">
          {{> field-password action = "recoveryConfirmForm.change" name="password" label="Пароль" placeholder="Введіть пароль" type="password" }}
          <span  name = "password" class="form__error">Помилка</span>
        </div>   
         <div class="form__item">
          {{> field-password action = "recoveryConfirmForm.change fielPassword.toggle(this)" name="passwordAgain" label="Пароль ще раз" placeholder="Введіть ще раз пароль" type="password" }}
          <span name = "passwordAgain" class="form__error">Помилка</span>
        </div> 
 
 
      </div>
      <button onclick="recoveryConfirmForm.submit()" class="button button--disabled" type="button">Змінити пароль</button>
      <span class="alert alert--disabled">Помилка</span>
    </form>
    
</div>