<div class="page page--background">
    <header>
      {{> back-button}}  
    </header>
    <form action="" class="page__section">
      <h1 class="page__title">Реєстрація</h1>
      <div class="form">
        <div class="form__item">
          {{> field action = "signupForm.change" name="email" label="Електронна пошта" placeholder="Введіть електронну пошту" type="email" }}
          <span name = "email" class="form__error">Помилка</span>
        </div>      
        <div class="form__item">
          {{> field-password action = "signupForm.change" name="password" label="Пароль" placeholder="Введіть пароль" type="password" }}
          <span  name = "password" class="form__error">Помилка</span>
        </div>   
         <div class="form__item">
          {{> field-password action = "signupForm.change fielPassword.toggle(this)" name="passwordAgain" label="Пароль ще раз" placeholder="Введіть ще раз пароль" type="password" }}
          <span name = "passwordAgain" class="form__error">Помилка</span>
        </div> 
        <div class="form__item">
          {{> field-checkbox action = "signupForm.change" name="isConfirm" label="Ви погоджуєтеся з правилами сервісу"}}
          <span name="isConfirm" class="form__error">Помилка</span>
        </div> 
         <div class="form__item">
          {{> field-select action = "signupForm.change" name="role" label="Роль" placeholder = "Виберіть роль" list = data.role}}
          <span name="role" class="form__error">Помилка</span>
        </div> 
      </div>
      <button onclick="signupForm.submit()" class="button button--disabled" type="button">Зареєструватися</button>
      <span class="alert alert--disabled">Помилка</span>
    </form>
    
</div>